@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="container">
    <div class="row">
        <div class="col">
            <img src="ittekPremiumLogo.jpg" class="img-fluid" alt="Responsive image" width="200px" height="200px">
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-lg-9">
            <div>
                Grupo
                <select class="custom-select" style="width:auto">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                Máquina
                <select class="custom-select" style="width:auto">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <form action="" class="justify-content-center">
                <div class="form-group" style="width:auto">
                    <label for="exampleInputEmail1">Utilizador</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Utilizador">
                </div>
                <div class="form-group" style="width:auto">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-dark">Sign in</button>
            </form>
        </div>
        <div class="col">

        </div>
    </div>

</div>