
@{
    ViewData["Title"] = "Menu";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col">
            <a href="#" class="d-flex flex-column align-items-center">
                <img src="~/users.svg" class="img-fluid" alt="Responsive image" width="200px" height="200px"> <br />
                <!--
                <span class="d-none d-sm-inline mt-1">Utilizadores</span>
                -->
                <h3 class="d-none d-sm-inline mt-1">Utilizadores</h3>
            </a>
        </div>
        <div class="col">

        </div>
        <div class="col">
            <a href="#" class="d-flex flex-column align-items-center">
                <img src="~/lock.svg" class="img-fluid" alt="Responsive image" width="200px" height="200px"> <br />
                <h3 class="d-none d-sm-inline mt-1">Perfis</h3>
            </a>
        </div>
    </div>

    <nav class="navbar navbar-light navbar-expand bg-transparent justify-content-center fixed-bottom">
        <div class="container">
            <ul class="navbar-nav nav-justified w-100 text-center mt-1">
                <li class="nav-item">
                    <a href="#" class="navbar-brand d-flex flex-column align-items-center">
                        <span class="fab fa-bootstrap fa-lg"></span>
                        <img src="~/IconProducoes.svg" class="img-fluid" alt="Responsive image" style="height:40px; width:auto">
                        <span class="d-none d-sm-inline mt-1">Operações</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="navbar-brand d-flex flex-column align-items-center">
                        <span class="fab fa-bootstrap fa-lg"></span>
                        <img src="~/IconProducoes.svg" class="img-fluid" alt="Responsive image" style="height:40px; width:auto">
                        <span class="d-none d-sm-inline mt-1">Manutenção</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="navbar-brand d-flex flex-column align-items-center">
                        <span class="fab fa-bootstrap fa-lg"></span>
                        <img src="~/IconProducoes.svg" class="img-fluid" alt="Responsive image" style="height:40px; width:auto">
                        <span class="d-none d-sm-inline mt-1">Auto Ctrl</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="navbar-brand d-flex flex-column align-items-center">
                        <span class="fab fa-bootstrap fa-lg"></span>
                        <img src="~/IconProducoes.svg" class="img-fluid" alt="Responsive image" style="height:40px; width:auto">
                        <span class="d-none d-sm-inline mt-1">Ord. Rep.</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="navbar-brand d-flex flex-column align-items-center">
                        <span class="fab fa-bootstrap fa-lg"></span>
                        <img src="~/IconProducoes.svg" class="img-fluid" alt="Responsive image" style="height:40px; width:auto">
                        <span class="d-none d-sm-inline mt-1">Docs</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-brand d-flex flex-column align-items-center">
                        <span class="fab fa-bootstrap fa-lg"></span>
                        <img src="~/IconProducoes.svg" class="img-fluid" alt="Responsive image" style="height:40px; width:auto">
                        <span class="d-none d-sm-inline mt-1">Info</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="navbar-brand d-flex flex-column align-items-center">
                        <span class="fab fa-bootstrap fa-lg"></span>
                        <img src="~/IconProducoes.svg" class="img-fluid" alt="Responsive image" style="height:40px; width:auto">
                        <span class="d-none d-sm-inline mt-1">Mensagem</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</div>
